@keyframes smallGrowth {
  0%  { 
    transform: translate3d(0, -5px, 0);
  }

  40% { 
    transform: translate3d(0, 5px, 0);

  }

  100%  { 
    transform: translate3d(0, -5px, 0);

  }
}

@keyframes bigGrowth {
  0%  { 
    transform: translate3d(0, -5px, 0);
  }

  40% { 
    transform: translate3d(0, 5px, 0);

  }

  100%  { 
    transform: translate3d(0, -5px, 0);

  }
}

@keyframes flowRight {
  0%  { 
    transform: translate3d(-5vw, 0, 0);
  }

  40% { 
    transform: translate3d(-3vw, 0, 0);

  }

  99%  { 
    transform: translate3d(-1vw, 0, 0);
  }
  100%  { 
    transform: translate3d(-5vw, 0, 0);
  }
}

@keyframes backgroundAnimateColor {
  0%  { 
    background-color: black;
  }

  40% { 
    background-color: lightsteelblue;
  }

  100%  { 
    background-color: black;
  }
}


@keyframes backgroundAnimateColorClip {
  0%  { 
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
  }

  20% { 
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);


  }

  40% { 
    clip-path: polygon(22% 36%, 81% 36%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
  }

  60% { 
    clip-path: polygon(22% 36%, 81% 36%, 100% 20%, 100% 100%, 81% 84%, 20% 84%, 0 100%, 0% 20%);
  }

  80% { 
    clip-path: polygon(22% 36%, 81% 36%, 100% 20%, 100% 100%, 78% 72%, 22% 100%, 0 100%, 0% 20%);
  }

  100%  { 
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 0);
  }
}

@keyframes borderFun {
  0%  { 
    transform: translate3d(-50px, 0, 0);
  }

  40% { 
    transform: translate3d(50px, 0, 0);

  }

  100%  { 
    transform: translate3d(-50px, 0, 0);

  }
}

@keyframes borderFunTwo {
  0%  { 
    background-position-x: -10px;
  }

  50% { 
    background-position-x: 10px;

  }

  100%  { 
    background-position-x: -10px;
  }
}

body {
  font-size: 1em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-y: hidden;
}

p {
  font-size: .8em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold {
  font-weight: bold;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.7);
}
/* 
.flip-card:hover {
  animation: borderFun linear 5s infinite;
} */

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.heightContain {
  height: 40vh;
}

.flip-card-front {
  background-color: white;
  color: white;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.header {
  height: 10vh;
}

.quoteText {
  font-size: 2em;
}

.cardInfoBorder {
  border-top: 3px solid navy;
  border-right: 3px solid rgb(44, 19, 92);
  border-bottom: 3px solid rgb(70, 51, 153);
}

.cardInfoBorderFull {
  border: 2px solid navy;
}

.flip-card {
  background-color: transparent;
  perspective: 100vh;
}

.borderBright {
  text-shadow: 2px 2px 2px navy;
}

/* Animations */

.animateWrap {
  animation: circleOne linear 5s infinite;
}

.backgroundAnimateColor {
  animation: backgroundAnimateColorClip ease-out 5s infinite;
  animation-delay: .5s;
  background-color: black;
}

.smallGrowth {
  animation: smallGrowth linear 5s infinite;
}

.bigGrowth {
  animation: bigGrowth linear 5s infinite;
}

.fun {
  animation: borderFun linear 5s infinite;
}

.bigWaveBG {
  background: url('./img/bigwavebg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  clip-path: circle(60.4% at 41% 27%);
}

.bg-alice-blue {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,efdc62+0,afd0ff+100 */
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #fefcea 0%, #efdc62 0%, #afd0ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #fefcea 0%,#efdc62 0%,#afd0ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #fefcea 0%,#efdc62 0%,#afd0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#afd0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/* Cast Images */
.teamBG {
  background: url('./img/fullteam.jpg');
  background-position: center;
}

#Den0 {
  background: url('./img/dennis.PNG');
  background-position: center;
  animation: borderFunTwo linear 5s infinite;
}

#Cha1 {
  background: url('./img/charlie.PNG');
  background-position: center;
  animation: borderFunTwo linear 5s infinite;
}

#Dea2 {
  background: url('./img/deandra.PNG');
  background-position: center;
  animation: borderFunTwo linear 5s infinite;
}

#Fra3 {
  background: url('./img/frank.PNG');
  background-position: center;
  animation: borderFunTwo linear 5s infinite;
}

#Ron4 {
  background: url('./img/ronald.PNG');
  background-position: center;
  animation: borderFunTwo linear 5s infinite;
}

#Den0, #Cha1, #Dea2, #Fra3, #Ron4 {
  background-size: cover;
  background-repeat: no-repeat;
  height: 35%;
  width: 100%;
  z-index: -2;
  border: 2px solid navy;
  clip-path: circle(60.4% at 49% 27%);
}

.frontImage {
  width: 30%;
  height: 50%;
}

/* Responsive */

@media only screen and (max-width: 900px) {
  h1, h2, h3 {
    font-size: 14px !important;
  }
  
  p {
    font-size: 12px;
  }
  .quoteText {
    font-size: 8px;
  }

  .frontImage {
    width: 80%;
    height: 50%;
  }

  .pa3 {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  h1, h2, h3 {
    font-size: 14px !important;
  }
  
  p {
    font-size: 12px;
  }
  .quoteText {
    font-size: 8px;
  }

  .frontImage {
    width: 90%;
    height: 50%;
  }

  .pa3 {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1000px) {

  .frontImage {
    width: 60%;
    height: 50%;
  }

}